body {
    margin: 10px;
    padding: 0;
    
.fundo-kazuha {
    background-image: url("../../Fotos/Foto Kaedehara Kazuha/Kazuha attack.jpeg");
    background-size: cover;
    background-position: center 0px; /* Começa no eixo Y zerado */
    height: 100vh;
    width: 100%;
    position: fixed; /* Fica fixo atrás de tudo */
    top: 0;
    left: 0;
    z-index: -1; /* Joga a imagem para trás do conteúdo */
}

}

#tela-kazuha {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2A201E; /* A sua cor */
    z-index: 9999;
    
    /* Prepara o bloco para deslizar de forma suave por 1 segundo */
    transition: transform 1s ease-in-out; 
}

/* A classe que joga o bloco para fora da tela */
.deslizar-kazuha {
    transform: translateX(-100%); 
}

.Kazuha{

   background-color: rgba (0, 0, 0, 0.6);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);

   border: 1px solid white;
   color: white;

   padding: 40px;
   max-width: 400px;
   margin: 100px auto;
   border-radius: 15px;
   text-align: center;

   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    
}

/*Essa é a foto do topo, o Namecard do Kazuha*/
/*O ../../ é para o código entender que tem que sair da pasta em que está (Kazuha, e em seguida Personagem), o ./ é para procurar dentro da pasta, o ../ é pra olhar dentro de outra pasta, e ai ele vai pra pasta Fotos, na pasta Foto Kaedehara Kazuha, e ai procura a foto Kazuha Namecard.jpeg*/
/* header { */
    /* background-image: url("../../Fotos/Foto Kaedehara Kazuha/Kazuha Namecard.jpeg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
/*  */
    /* border: 3px solid #ffffff; */
    /* box-sizing: border-box; */
    /* border-radius: 25px; */
    
    /*Essa é a largura da foto (height) e o de ir até o final da página (width)*/
    /* height: 120px;  */
    /* width: 100%; */
/* } */
/* Esse tanto de comentário é do antigo menu */
