body {
    margin: 10px;
    padding: 0;
    background: linear-gradient(160deg, #759c99 15%, #455757 85%);
    min-height: 100vh;
}

#tela-kazuha {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2A201E; /* A sua cor */
    z-index: 9999;
    
    /* Prepara o bloco para deslizar de forma suave por 1 segundo */
    transition: transform 1s ease-in-out; 
}

/* A classe que joga o bloco para fora da tela */
.deslizar-kazuha {
    transform: translateX(-100%); 
}


/*Essa é a foto do topo, o Namecard do Kazuha*/
/*O ../../ é para o código entender que tem que sair da pasta em que está (Kazuha, e em seguida Personagem), o ./ é para procurar dentro da pasta, o ../ é pra olhar dentro de outra pasta, e ai ele vai pra pasta Fotos, na pasta Foto Kaedehara Kazuha, e ai procura a foto Kazuha Namecard.jpeg*/
header {
    background-image: url("../../Fotos/Foto Kaedehara Kazuha/Kazuha Namecard.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    
    /*Essa é a largura da foto (height) e o de ir até o final da página (width)*/
    height: 120px; 
    width: 100%;
}

/*Esse é o recuo (padding-left) tipo parágrafo e o recuo entre a imagem (padding-top)*/
.Kazuha {
    padding-left: 50px;
    padding-top: 20px;
}